<h1 class="site-heading text-center text-white d-none d-lg-block">
  <span class="site-heading-upper text-primary mb-3">Great Seasons Ventures</span>
  <span class="site-heading-lower">Under construction</span>
</h1>


<h1 class="site-heading text-center text-white d-none d-lg-block">
<%= link_to root_path, class: 'site-heading-lower' do %>

Home

<% end %>
</h1>
